*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100vh;
    width: 100vw;
     font-family: "Karla", sans-serif;
}
.flex-centre{
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    height: 100vh;
    width: 100vw;
    /* background-color: #cae9ff; */
    background-color: #2b2d42;
    flex-direction: column;

}
#container{
    height: 55%;
    width: 50%;
    /* background-color: #1b4965; */
     /* background-color: #cae9ff; */
     background-color: #bdb2ff
}
#btn-box{
    margin-bottom: 15px;
}
.optionBtn{
    height: 22px;
    width: 215px;
    border: 2px solid rgb(127, 124, 124);
    border-radius: 8px;
    margin-left: 8px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    transition: all 0.1s;
}
.optionBtn i{
    color: #d3d3d3;  
    margin-left: 10px;
}
.optionBtn .fa-xmark{
font-size: 1.4rem;
}
.optionBtn .fa-circle{
    font-size: 1.2rem;
}
.points{
    font-size: x-large;
    color: rgb(255, 241, 241);
}


.line{
    height: 340px;
    width: 13px;
    background-color: #a89ee1;
    animation: straight 1s;
}
.horizontal-line{
     margin-left: 100px;
}
@keyframes straight{
    0%{
        height: 0px;
    }
    100%{
        height: 340px;
    }
}
.vertical-line{
    transform: rotate(90deg);
    position: absolute;
    margin-bottom: 100px;
}
.line2{
    margin-top: 100px;
    margin-bottom: 0px;
}
.a{
    height: 100px;
    width: 150px;
   /* background-color: black; */
 position: absolute;
}
.top{
    margin-bottom: 150px;
}
.middle{
    margin-top:60px;
}
.bottom{
    margin-top: 290px;
}
.left{
    margin-right: 230px;
}
.right{
    margin-left: 230px;
}

.a i{
    font-size: 7rem;
    color:#2d2f48;
   animation: fade 0.2s;
}
.a .fa-circle{
    font-size: 5rem;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
       opacity: 1;
    }
}
.box{
    position:absolute;
    height: 80px;
    width: 200px;
    margin-left: 40px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
 }

#win h1{
    color:rgb(20, 218, 20);
    text-shadow: 2px 2px 2px yellow, -2px -2px 2px yellow;
    margin-bottom: 10px;
}
#lose h1{
     color:rgb(218, 23, 20);
    text-shadow: 2px 2px 2px yellow, -2px -2px 2px yellow;
    margin-bottom: 10px;
}

